html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: rgb(59,1,23);
        background: -moz-linear-gradient(90deg, rgba(59,1,23,1) 0%, rgba(34,1,12,1) 50%, rgba(102,2,40,1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(59,1,23,1) 0%, rgba(34,1,12,1) 50%, rgba(102,2,40,1) 100%);
        background: linear-gradient(90deg, rgba(59,1,23,1) 0%, rgba(34,1,12,1) 50%, rgba(102,2,40,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3b0117",endColorstr="#660228",GradientType=1);
    
    min-height: 100vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

.logo {
    width: 120px;
}
 

a {
    display: block;
    max-width: 400px;
    margin: 0 auto 15px auto;
    padding: 15px 20px;
    font-size: 0.85rem;
    color: #ffffff;
    border: 2px solid #ffffff;
    text-decoration: none;
    transition: all 200ms ease-in-out;
    
        }
    }
}

h2 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 2px;
    color:#ffffff;
}

.channels {
    display: flex;
    max-width: 400px;
    margin: 0 auto;
   
    }
}
